<main as="basket-screen">
    <h2>Basket</h2>

    <array-iterator ref="packList" useTag="table">

    </array-iterator>

    <div ref="message"></div>

    <button ref="add">Add pack</button>

    <script>

        this.onSetData = (data) => {
            this.ref.packList.setData(data?.packList || []);
            this.ref.message.innerText = data?.packList?.length ? '' : "Basket is empty";
        }

        this.ref.add.onclick = () => {
            appContext.sendAnswer({
                action: 'ADD'
            })
        }

    </script>
</main>