<main as="category-screen">
    <button ref="btnBack">&lt;</button>
    <h2 ref="title">Category</h2>
    <array-iterator ref="categories" useTag="div">
        <category-li></category-li>
    </array-iterator>
    <script>
        this.onSetData = (data) => {
            this.ref.title.innerText = data.title;
            this.ref.categories.setData(data.categories);
        }

        this.ref.btnBack.onclick = () => {
            appContext.sendAnswer(
                {
                    action: 'BACK'
                }
            );
        };


    </script>
</main>

<div as="category-li">
    <button ref="button" style="width:400px"></button>
    <script>
        this.onSetData = (data) => {
            this.ref.button.innerText = data.title;
            this.ref.button.onclick = () => {
                appContext.sendAnswer(
                    {
                        categoryId: data.id,
                        action: 'OK'
                    }
                );
            }
        }



    </script>
</div>

<main as="product-screen">
    <h2>Product</h2>
</main>